body{
  margin: 0;
  overflow: hidden;
}

h1{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 60px;
  font-size: 78px;
}

h2{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100px;
  right: 60px;
  font-size: 48px;
}

.domain{
  stroke-width: 4px;
}

.tick line{
  stroke: rgba(255, 255, 255, 0);
}

#legend{
  position: absolute;
  z-index: 200;
}

text{
  color: #000000;
}

#animate{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
}

#threed{
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 50%;
}

#text{
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#values{
  position: absolute;
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: 100%;
  bottom: 20px;
  margin-left: 30px;
}

#values li{
  display: inline;
  margin-right: 33%;
  background-color: rgba(255, 255, 255, .1);
  padding: 7px;
  padding-right: 25px;
}

#values li:last-child{
  margin-right: 0;
}
