# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

priv/ssl/*.crt
priv/ssl/*.key
priv/ssl/*.pem
priv/ssl/*.json
priv/ssl/*.jwk
priv/ssl/*.der

script/certs
script/keys
script/requests
script/*.pem
script/*.crt
script/*.key

.env
*-prod.env
priv/jwt_key.bin
